.edgePackage {
    height: 654px;

    @include tablet690 {
        height: 1048px;
    }

    @include tablet510 {
        height: 1028px;
    }

    @include phones {
        height: 1948px;
    }

    .mainPackage {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        height: 465px;

        @include tablet690 {
            flex-wrap: wrap;
            height: 928px;
        }

        @include phones {
            height: 1848px;
        }

        li {
            display: flex;
            flex-direction: column;
            padding-right: 30px;
            height: 465px;
            width: calc((100% - 90px) / 4);

            &:last-child {
                padding: 0;
            }

            @include tablet690 {
                width: calc((100% - 30px) / 2);
                height: 434px;
                padding: 0;
            }

            @include phones {
                width: 100%;
            }

            .mainPackageImg {
                position: relative;
                flex-basis: 180px;

                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }

            .mainPackageContent {
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;

                h3 {
                    padding-top: 15px;
                    padding-bottom: 8px;
                    color: $otherHeader;
                    line-height: 35px;
                }

                span {
                    color: $otherP;
                    line-height: 15px;
                    font-size: 14px;
                }

                p {
                    padding-top: 8px;
                    color: $dirty;
                    line-height: 25px;

                    @include tablet690 {
                        line-height: 35px;
                    }

                    @include tablet510 {
                        line-height: 30px;
                    }
                }

                a {
                    position: absolute;
                    bottom: 0;
                    color: $bluebery;

                    &::after {
                        content: '';
                        position: absolute;
                        height: 10px;
                        width: 10px;
                        left: 116px;
                        top: 7px;
                        border-radius: 5%;
                        border-top: 2px solid $bluebery;
                        border-right: 2px solid $bluebery;
                        transform: rotate(45deg);

                        @include phones {
                            top: 5px;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 20px;
                        bottom: 10px;
                        left: 108px;
                        border-radius: 10%;
                        border-bottom: 2px solid $bluebery;

                        @include phones {
                            bottom: 9px;
                        }
                    }
                }
            }
        }
    }
}

